{
  "name": "Pokemon Search",
  "displayName": "Pokemon Search",
  "expo": {
    "name": "Pokemon Search",
    "slug": "pokemon-search",
    "version": "1.0.0",
    "icon":"assets/icons.png",
    "splash": {
      "image": "assets/splash.png",
      "resizeMode": "cover"
    },
    "orientation": "portrait",
    "assetBundlePatterns": [
      "**/*"
    ],
    "android": {
      "package": "mobile.pokemon.search",
      "adaptiveIcon": "assets/adaptiveIcon.png"
    }
  }
}
